
body {
	font-size: 16px;
	line-height: 3ex;
	max-width: 80ex;
	margin-inline: auto;
}

.cluster {
	display: flex;
	gap: 1rem;
}

.space-between {
	justify-content: space-between;
}

.unstyled-list {
	list-style: none;
	margin: 0;
	padding: 0;
}