
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/base.css">
	</head>
	<body>
		<nav>
			<ul class="navigation unstyled-list cluster space-between">
				<li><a href="{{'index.md' | inputPathToUrl}}">Home</a></li>
				<li>Menu</li>
			</ul>
		</nav>

		{{content | safe}}
	</body>
</html>