---
layout: layouts/base.njk
---

{% set replayPosts = collections[postsTag] %}
{% set previousPost = replayPosts | getPreviousCollectionItem %}
{% set nextPost = replayPosts | getNextCollectionItem %}

<main class="gameplay-post">

{{ content | safe }}

</main>

{% if previousPost or nextPost %}
<section class="cluster space-between">
{% if previousPost %}
<div class="cluster">
Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
</div>
{% endif %}

{% if nextPost %}
<div class="cluster">
Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
</div>
{% endif %}

</section>
{% endif %}


