---
layout: layouts/base.njk
eleventyImport:
  collections: ["duneSea"]
---

    {{ content | safe }}

    <ul>
		{%- for post in collections.duneSea -%}
		<li><a href="{{post.url}}">{{ post.data.title }}</a></li>
		{%- endfor -%}
	</ul>
